.container {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding: 16px 8px;

  .title {
    font-size: 29rem;
    line-height: 36px;
    color: #333333;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
  }
}
